<?= $this->Form->button('<i class="fa fa-search"></i> Pesquisar', ['class' => 'btn btn-primary', 'escape' => FALSE]); ?>
<?= $this->Form->button('<i class="fa fa-eraser"></i> Limpar', ['class' => 'btn btn-default','type' => 'reset', 'escape' => FALSE]); ?>